In [2]:
import pandas as pd

class_file = "/Users/steven/Documents/class2402.csv"

In [3]:
class_dataset = pd.read_csv(class_file)
class_dataset.head

<bound method NDFrame.head of       分类
0      2
1      7
2      5
3      1
4      2
...   ..
2397   6
2398   6
2399   2
2400   1
2401   4

[2402 rows x 1 columns]>

In [4]:
# 人工进行情感标注，为机器学习做准备
# 标注共分为3个大板块，9个小板块，对应序号1-9，对于无效评论，我们赋值0.

# 系统（程序功能，系统体验，账户安全）       1, 2, 3 --> 123

# 购物（商品质量，物流问题，交易纠纷）       4, 5, 6 --> 456

# 内容（社区生态，审核监督，宣传推广）       7, 8, 9 --> 789

# 无效评论   0 --> 0

class_match_dic = {1: 123, 2: 123, 3: 123,
                   4: 456, 5: 456, 6: 456,
                   7: 789, 8: 789, 9: 789,
                   0: 0}

In [5]:
# 过滤掉短评论 往往没有太多价值
first_label_list = []
for index, row in class_dataset.iterrows():
    second_label = row["分类"]
    first_label = class_match_dic[second_label]
    first_label_list.append(first_label)

In [6]:
original_data = {"分类": first_label_list}
original_dataset = pd.DataFrame(original_data)
original_dataset

       分类
0     123
1     789
2     456
3     123
4     123
...   ...
2397  456
2398  456
2399  123
2400  123
2401  456

[2402 rows x 1 columns]

In [7]:
# 将向量化的结果进行输出,保存为csv格式，同时输出的结果不需要带上index索引，方便后续直接读取

original_dataset.to_csv("/Users/steven/Downloads/label2402.csv", index=False)